<!-- vue cdn -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equive="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="vue-app"> <!-- id is a element from app.js-->

        <!--
        <h1>{{ greet('Night') }}</h1>
        <p>Name : {{ name }}</p>
        <p>Job : {{ job }}</p>

        <hr>
        <h2>Data Binding</h2>
        <a v-bind:href="website">Join on Facebook</a>
        <input type="text" v-bind:value="job"/>
        <p v-html="websiteTag"></p>
        -->
        <h2> Form Myu </h2>
        <table id="formMyu">
            <tr>
                <td>Name </td>
                <td><input type="text" v-model="name"/></td>
            </tr>
            <tr>
                <td>Job </td>
                <td><input type="text" v-model="job"/></td>
            </tr>
            <tr>
                <td>Age </td>
                <td><input type="text" v-model="age" /></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2">My name is {{ name }}</td>
            </tr>
            <tr>
                <td colspan="2">My job is {{ job }}</td>
            </tr>
            <tr>
                <td colspan="2">My age is {{ age }}</td>
            </tr>
        </table>

        <!--Event-->
        <!-- event on click, not need to function() just function. only for event-->
        <hr><h2>Event Click</h2>
        <button @click="add(1)">Add a Year</button>
        <button v-on:click="subtract(1)">Subtract a Year</button>
        <button @dblclick="add(10)">Add 10 Year</button>
        <button v-on:dblclick="subtract(10)">Subtract 10 Year</button>
        <p>My age is {{ age }}</p>

        <div id="canvas" v-on:mousemove="updateXY">
            <h2>Koordinat titik mouse x y</h2>
            {{ x }}, {{ y }}
        </div>

        <br>
        <a v-on:click="link_click" href="https://vuejs.org/v2/guide/">More Guide.</a>
        <!--End EVent-->

        <h2>Dynamic CSS</h2>
        <!-- <h3>Example 1</h3>
        <div v-on:click="available =! available" v-bind:class="{available:available}">
            <span>Kim</span>
        </div>
        -->
        <h3>Example 2</h3>
        <button v-on:click="nearby =! nearby">Toggle nearby</button>
        <button v-on:click="available =! available">Toggle Available</button>
        <div v-bind:class="compClasses">
            <span>Gaje</span>
        </div>

        <!--Test komen ajah sih-->
    </div>
    <script src="app.js"></script>
</body>

</html>

