#canvas{
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 1px solid #333;
}

#formMyu {
    width: 250px;
    padding: 10px 100px;
    border: 1px;
}

th, td {
    padding: 5px;
}

/* Part Dynamic CSS */
span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.available span {
    background: green;
}

.nearby span:after {
    content: "nearby";
    margin-left: 10px;
}
